.slider {
  width: 20vw;
  margin-top: 4vh;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100vh;
  /* justify-content: space-between; */
}

.App-header {
  background-color: #282c34;
  min-height: 15%;
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: space-around;
  font-size: calc(5px + 2vmin);
  color: white;
}

.body {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin: 0 20px 0 20px;
  column-gap: 40px;
  min-height: max-content;
}
.inputs {
  display: flex;
  flex-direction: column;
  background-color: gray;
  flex: 1;
  align-items: center;
  
  }

.display {
  background-color: turquoise;
  flex: 3;
}
